absl-py==2.1.0
albucore==0.0.12
albumentations==1.2.1
annotated-types==0.7.0
anyio==4.4.0
Brotli
cachetools==5.3.3
certifi
charset-normalizer
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
dnspython==2.6.1
email_validator==2.2.0
eval_type_backport==0.2.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
filelock
fonttools==4.53.1
fsspec==2024.6.1
gmpy2
google-auth==2.31.0
google-auth-oauthlib==1.0.0
grpcio==1.64.1
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna
imageio==2.34.2
importlib_metadata==8.0.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
Jinja2
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.7.5
mdurl==0.1.2
mpmath
networkx
numpy==1.24.4
oauthlib==3.2.2
onnx==1.16.1
onnx2torch==1.4.1
opencv-python-headless==4.10.0.84
orjson==3.10.6
packaging==24.1
pandas==2.0.3
pillow==10.4.0
protobuf==5.27.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyparsing==3.1.2
PySocks
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyWavelets==1.4.1
PyYAML
qudida==0.0.4
requests
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
shellingham==1.5.4
six
sniffio==1.3.1
starlette==0.37.2
sympy
tbb==2021.13.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tifffile==2023.7.10
tomli==2.0.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
typer==0.12.3
typing_extensions
tzdata==2024.1
ujson==5.10.0
urllib3
uvicorn==0.30.1
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.3
win-inet-pton
zipp==3.19.2
